`<li class="customer">
  <div class="customer__name customer__item">{{name}}</div>
  <div class="customer__company customer__item">{{company}}</div>
  <div class="customer__phone customer__item">{{phone}}</div>
  <div class="customer__email customer__item">{{email}}</div>
  <div class="customer__country customer__item">{{country}}</div>
  <div class="customer__status customer__item">
    <div class="customer__status-label {{status}}">{{status}}</div>
  </div>
</li>`
